[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "~=3.2"
psycopg2-binary = "~=2.9.1"
djangorestframework = "~=3.12"
markdown = "~=3.3"
pygments = "~=2.10"
django-filter = "~=21.1"
dj-rest-auth = "~=2.1.11"
django-allauth = "~=0.45.0"
djangorestframework-simplejwt = "~=5.0.0"

[dev-packages]
black = "*"
mypy = "~=0.910"
django-stubs = "~=1.9.0"
djangorestframework-stubs = "~=1.4"

[requires]
python_version = "3.9"

[pipenv]
allow_prereleases = true
